rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /requests/{requestId} {
      allow read, write: if true;
    }
    match /notifications/{notificationId} {
      allow read, write: if true;
    }
  }
}
